* {
  margin: 0;
  padding: 0;
  background-color: rgb(218, 245, 245);
}

#black {
  border: solid  1px black;
  display: inline-block;
  width: 30px;
  height: 30px;
}

#blue {
  border: solid 1px black;
  display: inline-block;
  width: 30px;
  height: 30px;
}

#red {
  border: solid  1px black;
  display: inline-block;
  width: 30px;
  height: 30px;
}

#yellow {
  border: solid  1px black;
  display: inline-block;
  width: 30px;
  height: 30px;
}

.pixel {
  border: solid 1px black;
  display: inline-block;
  background-color: rgb(255, 253, 253);
  width: 25px;
  height: 25px;
}

#pixel-board {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#color-palette {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

#title {
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: rgb(121, 157, 242);
}

#clear {
  background-color: rgb(121, 157, 242);
}

#meio {
  display: flex;
  justify-content: center;
  margin: 3px;
}
